
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-bolt"></i>
  <% end %>

  <h2><center>FlashCar</center></h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<h1><center>My Bookings<center></h1>

<div class="container">
  <ul>
    <% @bookings.each do |booking| %>
    <li><%= booking %></li>
    <% end %>
  </ul>








</div>

