<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-bolt"></i>
  <% end %>

  <h2><center>FlashCar</center></h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<h1><center>My Bookings<center></h1>


 <div class="card-trip" >
    <div>
    <% @bookings.each do |booking| %>
      <center><h1><%= booking.car.name %></h1>
      <h1><%= booking.car.model %></h1></center>
      <center><%= cl_image_tag booking.car.photo.key, height: 100, width: 150, crop: :fill %><center>
       <div class="card-trip-infos">
         <div>
          <h2><%= booking.date_begin %></h2>
          <h2><%= booking.date_end %></h2>

         </div>
          <h2>Total Price:</h2>
          <h2 class="card-trip-pricing"><%= booking.total_price %>€/J</h2>
          <% end %>
    </div>
          <%# <center><p><%= @car.description %></p><center>
    
    <%# <p><%= booking.car.name %></p>
    <%# <p><%= booking.car.model %></p>
    <%# <p><%= booking.date_begin %></p>
    <%# <p><%= booking.date_end %></p>
    <%# <p><%= booking.total_price %></p>
    <%# <% end %>








</div>

