<div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <i class="fas fa-bolt" style=" padding-right: 6px"></i>
  </li>
  <li>
    FlashCar
  </li>
</ul>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "louer", cars_path, class: "dropdown-item" %>
          <%= link_to "mes résérvations", my_bookings_path, class: "dropdown-item" %>
        </div>
  </div>
</div>

<h1><center>My Bookings<center></h1>


  <div class="container">
    <div id="cards" class="row">
      <% @bookings.each do |booking| %>
        <div class="col-4 card-container">
          <div class="card mb-4 card-car">
          <%= cl_image_tag booking.car.photo.key, height: 200, width: 354, crop: :fill %>
            <div class="card-body">
               <center><h1><%= booking.car.name %></h1>
              <h1 class="card-description"><%= booking.car.model %></h1>
              <h5 class="card-price"><%= booking.car.price %> CHF</h5>
              <h5>From:</h5>
              <p><%= booking.date_begin %></p>
              <h5>To:</h5>
              <p><%= booking.date_end %></p>
              <h3>Total Price:</h3>
              <h4 class="card-price"><%= booking.total_price %>€</h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


          <%# <center><p><%= @car.description %></p><center>

    <%# <p><%= booking.car.name %></p>
    <%# <p><%= booking.car.model %></p>
    <%# <p><%= booking.date_begin %></p>
    <%# <p><%= booking.date_end %></p>
    <%# <p><%= booking.total_price %></p>
    <%# <% end %>








</div>

