<div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <i class="fas fa-bolt" style=" padding-right: 6px"></i>
  </li>
  <li>
    FlashCar
  </li>
</ul>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div id="index-container">
  <div class="container">
    <div id="cards" class="row">
      <% @cars.each do |car| %>
        <div class="col-6 card-container">
          <div class="card mb-4 card-car">
            <%= cl_image_tag car.photo.key, class:"card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= car.name %></h5>
              <p class="card-description"><%= car.model %></p>
              <h5 class="card-price"><%= car.price %> CHF</h5>
              <%= link_to "Voir la voiture", car_path(car), class: "btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
