<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-bolt"></i>
  <% end %>

  <h2>FlashCar</h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div id="index-container">
  <div class="container">
    <div id="cards" class="row">
      <% @cars.each do |car| %>
        <div class="col-6 card-container">
          <div class="card mb-4 card-car">
            <img src="https://media.ed.edmunds-media.com/audi/a7/2020/oem/2020_audi_a7_sedan_prestige-55-tfsi-quattro_fq_oem_1_815.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= car.name %></h5>
              <p class="card-description"><%= car.model %></p>
              <h5 class="card-price"><%= car.price %> CHF</h5>
              <%# <%= link_to "Voir la voiture", car_path(car), class: "btn btn-primary"  %'> %>
              <%= link_to "Voir la voiture", car_path(car), class: "btn-flat" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div 
    id="map"
    style="width: 600px; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>