<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <i class="fas fa-bolt"></i>
  <% end %>

  <h2>FlashCar</h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-sm 4" style="width: 18rem; height: 100%">
        <div class="card mb-4" style="width: 18rem; height: 100% padding: 5px 5px 5px 5px">
          <%= cl_image_tag car.photo.key, class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= car.name %></h5>
            <p class="card-description"><%= car.description %></p>
            <h5 class="card-price"><%= car.price %> CHF</h5>
         <!--    <a href="#" class="btn-flat">Louer</a> -->
            <%= link_to "Accéder", car_path(car), class: "btn-flat" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
